* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
        font-family: 'Sans-serif'
        line-height: 1.6;
        padding: 20px;
        background-color: grey; 
        , sans-serif; }
        header {
        text-align: center;
        margin-bottom: 20px;
        }
        .profile-img {
        width: 50%;
        height: auto;
        }
        h1 
        {
        text-align: center; 
            margin-top: 10px;
            }
            .bio, .projects {
            margin-bottom: 20px;
            text-align: center;
            }
            a {
            text-align: center;
            color: #5042d1;
            text-decoration: none;
            }
            footer {
            text-align: center;
            margin-top: 20px;
            } 
            a:hover {
                text-decoration: underline;
                }